<ion-header>
  <ion-toolbar>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-img src="/assets/coeur.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Offre de la nature :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nous ne vous apprenons rien de neuf, nous direz-vous, mais réfléchissez un instant à ce qui est encore gratuit à
      l’heure actuelle… Pas grand-chose, n’est-ce pas !? L’eau de pluie tombe quant à elle du ciel sans réclamer de
      facture, et parfois même en grandes quantités. La seule chose qu’il vous reste à faire est de la récolter et de
      l’utiliser à votre guise.

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/afrique-320-millions-de-personnes-sans-acces-l-eau-potable.png"></ion-img>
    <ion-card-header>
      <ion-card-title>320 millions personnes en déhydratation :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>La problématique des eaux usées est elle aussi primordiale. Déjà, à l’occasion de la Journée mondiale de
        l’eau, en mars dernier, l'ONU avait décidé de mettre en lumière « le thème des eaux usées et les moyens de les
        réduire et les réutiliser ».</p>

      <p>80 % des eaux usées provenant des lieux d’habitation, des villes, de l’industrie et de l’agriculture sont
        rejetées dans la nature, polluant l’environnement et appauvrissant les sols, rappelle l'ONU. Nous devons
        améliorer la collecte, le traitement et la réutilisation des eaux usées. Dans le même temps, nous devons
        réduire la quantité d’eaux usées que nous produisons afin de protéger l’environnement et nos ressources en eau.</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/cycle_d_eau.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Clycle domestique de l'eau :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Il existe tout un nombre de méthodes usuellement utilisées pour purifier l'eau. Leur efficacité est liée au type
      de contaminant traité et au type d'application à laquelle est attribuée l'utilisation de l'eau, une fois
      purifiée.

       Filtration : Plusieurs types de filtration existent :
       Filtration commune : Appelée également filtration particulaire, elle peut utiliser tout dispositif filtrant,
      depuis un filtre à sable de 1 mm jusqu'à un filtre à cartouche de 1 micron.
       Micro filtration : Utilise des dispositifs de 1 à 0,1 microns pour filtrer les bactéries. Le procédé de brassage
      est l'une des applications types de cette technique.
       Ultra filtration : Elimine les pyrogènes, endotoxines, et fragments d'ADN et d'ARN.
       Osmose inverse : Souvent désignée par l'abréviation RO, l'osmose inverse représente le niveau de filtration des
      liquides le plus raffiné. Au lieu d'un filtre, il s'agit d'utiliser une matière poreuse agissant comme un tamis
      uni-directionnel pouvant séparer les particules de taille moléculaire.
       Distillation : La méthode de purification la plus ancienne. Economique, mais cette technique ne peut être
      utilisée pour des procédés utilisant l'eau sur demande. L'eau doit être distillée puis conservée pour une
      utilisation ultérieure, ce qui la rend à nouveau sujette à la contamination en cas de stockage inapproprié.
       Adsorption sur du charbon actif : Opère comme un aimant sur le chlorure et les composants organiques.
       Radiation par ultraviolet : A une certaine longueur d'onde, cela peut provoquer la stérilité des bactéries et la
      destruction d'autres micro-organismes.
       Déionisation : Connue également sous le nom d'échange d'ions, elle est utilisée pour produire de l'eau purifiée à
      la demande, en passant l'eau à travers des couches de résine. La résine négativement chargée (cationique) élimine
      les ions positifs, tandis que la résine positivement chargée (anionique) élimine les ions négatifs. Une
      surveillance continue et la maintenance des cartouches peuvent permettre d'obtenir une eau d'une pureté extrême.

    </ion-card-content>
  </ion-card>

</ion-content>