<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news" href="/tabs/(news:news)">
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Article</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
