ion-img {
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    position: relative;
    left: 35%;
    width: 130px;
    height: 130px;
    border:10ch;
    border-block-end-style: groove; 
  }

