<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img (click)="createThumbnail()" [src]="smallImg"></ion-img>
      <ion-card-title>
      Hello Master
      </ion-card-title>
      <ion-card-subtitle>ID:1234567890</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Genre</ion-label>
        <ion-select [(ngModel)]="genre" interface="action-sheet">
          <ion-select-option value="f">Femme</ion-select-option>
          <ion-select-option value="h">Homme</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date de naissance</ion-label>
        <ion-datetime display-format="MM DD YYYY" placeholder="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Poids(kg)</ion-label>
        <ion-input type="number" autocorrect="on" maxlength="3" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Taille (cm)</ion-label>
        <ion-input type="number" autocorrect="on" maxlength="3" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Activité professionnel</ion-label>
        <ion-select [(ngModel)]="ActiPro" interface="action-sheet">
          <ion-select-option value="Bureau">Bureau</ion-select-option>
          <ion-select-option value="Debout">Debout</ion-select-option>
          <ion-select-option value="Sport">Sport</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Activités Sportives</ion-label>
        <ion-select [(ngModel)]="ActiSport" interface="action-sheet">
          <ion-select-option value="muscu">Muscu</ion-select-option>
          <ion-select-option value="fitness">Fitness</ion-select-option>
          <ion-select-option value="maraton">Maraton</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label>Frequence(semaine)</ion-label>
      <ion-item>
        <ion-range pin="true" min="0" max="10" color="primary" id="SportFrequence"></ion-range>
      </ion-item>
      <ion-label>Duree(min)</ion-label>
      <ion-item>
        <ion-range pin="true" min="0" max="120" color="primary" id="SportFrequence"></ion-range>
      </ion-item>


    </ion-card-content>

  </ion-card>

</ion-content>