<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Objectif journalier: {{objectif}} L
          <ion-icon name="refresh" (click)="calculateObjectif()"></ion-icon>
      </ion-card-title>
      <ion-card-title>
        Reste à boire: 1L
      </ion-card-title>

    </ion-card-header>
  </ion-card>
    <ion-card>
        <ion-card-title>
          &nbsp; Consommation Mensuel :</ion-card-title>
    <ion-card-content>
        <ion-badge (click)="changeChart()">Type: {{lineChartType}}</ion-badge>
      
      <div style="display: block;">
        <canvas baseChart width="100" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" 
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </ion-card-content>
  </ion-card>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="battery-full"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-button (click)="loginFab()">Login test</ion-button>
  <p>userdata : {{userdata}}</p>
</ion-content>