<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Objectif journalier: {{objectif}} L
          <ion-icon name="refresh" (click)="calculateObjectif()"></ion-icon>
      </ion-card-title>
      <ion-card-title>
        Reste à boire: 1L
      </ion-card-title>

    </ion-card-header>
  </ion-card>
    <ion-card>
        <ion-card-title>
          &nbsp; Consommation Mensuel :</ion-card-title>
    <ion-card-content>
        <ion-badge (click)="changeChart()">Type: {{lineChartType}}</ion-badge>
      <div style="display: block;">
        <canvas baseChart width="100" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" 
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Anecdote :</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nous ne vous apprenons rien de neuf, nous direz-vous, mais réfléchissez un instant à ce qui est encore gratuit à
      l’heure actuelle… Pas grand-chose, n’est-ce pas !? L’eau de pluie tombe quant à elle du ciel sans réclamer de
      facture, et parfois même en grandes quantités. La seule chose qu’il vous reste à faire est de la récolter et de
      l’utiliser à votre guise.

    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="battery-full"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>